<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{ partial "head.html" . }}
    <!-- MailerLite Universal -->
    <script>
        (function (w, d, e, u, f, l, n) {
            w[f] = w[f] || function () {
                (w[f].q = w[f].q || [])
                .push(arguments);
            }, l = d.createElement(e), l.async = 1, l.src = u,
            n = d.getElementsByTagName(e)[0], n.parentNode.insertBefore(l, n);
        })
            (window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
        ml('account', '1235699');
    </script>
    <!-- End MailerLite Universal -->
</head>

{{ block "body" . }}

<body>
    {{ end }}

    <div class="container">
        {{ partial "header.html" . }}

        <div class="content">
            {{ block "main" . }}{{ end }}
        </div>

        {{ block "footer" . }}
        {{ partial "footer.html" . }}
        {{ end }}
    </div>

    {{ partial "javascript.html" . }}
</body>

</html>